* {
  background:       #1e1e2ecc;
  // background:       #1e1e2e80;
  foreground:       #cdd6f4FF;
  accent:           #b4befe69;
  background-tb:    #45475aFF;
  border-tb:        #313244FF;
  selected:         linear-gradient(to right, #313244FF, #b4befe69);
  button:           linear-gradient(#9399b2FF);
  button-selected:  linear-gradient(#b4befe69);
  active:           linear-gradient(to right, #94e2d5FF, #a6e3a1FF);
  urgent:           #f38ba8FF;
}
