* {
  background:       #272E33CC;
  foreground:       #D3C6AAFF;
  accent:           #7FBBB3FF;
  background-tb:    #414B50FF;
  border-tb:        #363A4FFF;
  selected:         linear-gradient(to right, #83C092FF, #7FBBB369);
  button:           linear-gradient(#939AB7FF);
  button-selected:  linear-gradient(#7FBBB369);
  active:           linear-gradient(to right, #8BD5CAFF, #A6DA95FF);
  urgent:           #ED8796FF;
}
